<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label for="name" class="col-md-2 control-label">
                表名称:
            </label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="name" value="<{$data['name']}>">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label for="columns" class="col-md-2 control-label">
                栏目配置:
            </label>
            <div class="col-md-10">
               <textarea  rows=10 cols=80 class="form-control" name="columns"><{$data['columns']}></textarea>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</div>